@font-face {
    font-family: 'Retro Gaming';
    src: url(../media/Fuentes/Retro_Gaming.ttf) format("truetype");
}

@media (max-width: 767px) {
    .col-lg-3 {
        text-align: center;
    }

    .col-lg-3 img {
        max-width: 75%;
        height: auto;
        margin-bottom: 10px;
    }

    .col-lg-7 {
        text-align: justify;
    }

    .col-lg-3 img {
        max-width: 75%;
        height: auto;
        margin-bottom: 10px;
    }
}

body{
    background-color: #8E5230;
    font-family: 'Retro Gaming';
}

h1 a{
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: #77726C;
}

img {
    width: 100%;
}

.row {
    padding: 20px;
}

.bgc {
    background-color: #F4E9B9;
}

.card {
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

.card:active {
    transform: translateY(0);
}