@font-face {
    font-family: 'Jumpman';
    src: url(../media/Fuentes/Jumpman.ttf);
}

@media (min-width: 576px){
    .lnk{
        padding: 5%;
        font-size: 25px;
    }    
    
    .col-3 img{
        width: 100%;
    }
    
    p{
        margin-left: 50px;
    }
    
    h1{
        margin-left: 50px;
    }
}

@media (max-width: 575px){
    h1{
        margin-left: 0;
    }
}

body{
    font-family: 'Jumpman';
    background-color: #008ece;
    color: white;
}

.lnk{
    font-family: 'Jumpman';
}

.portada{   
    width: 100%;
    max-width: 600px;
}

.col-12 {
    margin-bottom: 0; 
}

.logo{
    width: 80%;
    height: auto;
    padding: 10px;
}

h1 a{
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: white;
}

.flip-card {
    perspective: 1000px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.flip-card-inner {
    width: 320px;
    height: 400px;
    transition: transform 1.5s;
    transform-style: preserve-3d;
}

.flip-card .flip-card-inner:hover {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 24px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

.flip-card-inner .eiffel {
    background-image: url('../media/Donkey_Kong_flier.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.flip-card-inner .freedom {
    background-image: url('../media/niveles.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.flip-card-inner .bigben {
    background-image: url('../media/maps.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

.flip-card-back {
    background: #CA1918;
    color: #fff;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 25px;

}

.flip-card-back img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    margin-bottom: 25px;
}

.flip-card-back h2 {
    margin-bottom: 15px;
}

.flip-card-back p {
    color: #fffffff0;
    margin-bottom: 20px;
    font-size: 14px;
}

.flip-card-back a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    transition: 0.3s ease-in;
}

.flip-card-back a:hover {
    scale: 1.1;
    background: #fff;
    color: #3c3c3c;
}


@media screen and (max-width:669px) {
    .flip-card-inner  {
        padding: 30px 0;
    }   
}

@media (min-width: 768px) {
    p{
        padding-right: 10%;
    }
}

@media (min-width:576px) and (max-width:766px){
    .lnk{
        font-size: 20px;
    }
}
