body {
    background-image: url(../media/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
}

header {
    width: 100%;
    height: 180px;
}

.logo_ms3 {
    position: relative;
    top: 5px;
    display: flex;
    justify-content: center;
}

.logo_ms3 img{
    height: 175px;
    width: auto;
}

main { 
    display:grid;
    height: 515px;
    width: 100%;
}

.soldier_select {
    position: relative;
    display:flex;
    margin: auto;
    height: 515px;
}

.soldier {
    width: 153px;
}

.soldier_1 {
    position: absolute;
    left: 442px;
    top: 340px;
}

.imagen_oculta{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s;
}

main:hover + .imagen_oculta {
    opacity: 1;
}

footer{
    position: relative;
    width: 100%;
    background-color:rgba(255, 255, 255, 0.1);
}

footer .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

footer .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .grupo-1 .box figure img{
    width: 250px;
}

footer .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

footer .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}

footer .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #2a2a2a;
    text-align: center;
    transition: all 300ms ease;
    border-radius: 30px;
}

footer .grupo-1 .red-social a:hover{
    background-color: rgb(146, 146, 146);
}

footer .grupo-2{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

footer .grupo-2 small{
    font-size: 15px;
}

@media screen and (max-width:800px){
    footer .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}